body {
    font-family: 'Mono';
    padding: 0px;
    margin: 0px;

    --primary-colour: #007936;
    --accent-colour: #eee;
    --light-text-colour: rgb(107, 107, 107);
    --good-colour: #007936;
    --bad-colour: red;
}

/* Describes the styling of the one and only element with id="mainheader", note the # in front of mainheader */
#mainheader {
    position: sticky;
    top: 0;
    background-color: var(--primary-colour);
    font-size: 3rem;
    color: white;
}

#nav-bar
{
    position: sticky;
    top: 0;
    float: right;
    height: 2rem;
    line-height: 2rem;
    background-color: var(--primary-colour);
}

a:link {
    color: white;
}

a:hover {
    color: black;
}

#logo-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo-header img {
    margin-left: 30px;
}

main {
    padding: 25px;
}

/* Describes the styling of all elements with class="parkname", note the . in front of parkname */
.parkname {
    background-color: var(--primary-colour);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Describes the styling of all <article> elements */
article {
    border: 1px solid var(--primary-colour);
    color: var(--light-text-colour);
    margin: 5px;
}

.order {
    padding-top: 25px;
}

.orderbutton {
    color: var(--good-colour);
    border-color: var(--good-colour);
}

.badge {
    background-color: red;
    display: none;
    color: white;
    font-weight: bold;
    width: 25px;
    border-radius: 25px;
}