.taipan-table {
    text-align: left;
    display: inline-block;
    border: 1px solid blue;
    overflow: hidden;
    background-color:rgba(255, 255, 255, 0.6);
}
.player-area {
    display: inline-block;
    float: left;
    border: 1px solid red;
}
.play {
    display: inline-block;
    border: 1px solid green;
}
div{
    font-family: cursive;
}
button{
    border-radius: 12px;
    background-color: rgb(255, 166, 0);
    border-color: rgb(255, 166, 0);
}
input{
    border-radius: 12px;
    background-color: rgb(255, 166, 0);
    border-color: rgb(255, 166, 0);
}
.start-screen-text {
    text-align: center;
    color: rgb(255, 166, 0);
    font-size: 200%;
    text-shadow:
        3px 3px 0 #000000,
        -1px -1px 0 #000000,
        1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.lobbyscreen {
    text-align: center;
}
.gamescreen {
    text-align: center;
}
.game-table {
    background-color:rgba(255, 255, 255, 0.6);
}/*
body {
    background-image: url("../images/Background.gif");
    background-color:rgba(255, 253, 117, 0.411);
    background-repeat: no-repeat;
    background-position: top;
}
*/
